.portfolio-modal .modal-dialog {
  /* margin: 1rem; */
  max-width: 70vw;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
  }
  .modal-dialog-centered {
    min-height: calc(100% - (1.75rem * 2));
  }
  .modal-sm {
    max-width: 300px;
  }
}

.centered-item {
  margin: auto;
}

.section-midheading {
  font-size: 35px;
}

.fa-goodreads-g:before {
  content: "\f3a9";
}
